{#
/**
 * @file
 * Default theme implementation for the infogram embed.
 *
 * Variables:
 * - title: The infogram embed title.
 * - uuid: The infogram embed UUID.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_infogram_embed()
 *
 * @ingroup themeable
 */
#}

<div
  class="infogram-embed"
  data-id="{{ uuid }}"
  data-type="interactive"
  data-title="{{ title }}"
></div>
